*{
    margin: 0;
    padding: 0;
    font-family: 'Mali' cursive;
}
.content{

   background-color: wheat;
}
.head h1{
    font-size: 60px;
    text-align: center;
}
.head p{
    font-size: 30px;
    padding: 20px;
    margin: 0 50px;
}
.card{
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: white;
    margin: 10px 30%;
    padding: 30px;
    font-size: 20px;
    
}
input{
    border: 2px solid coral;
    width:60%;
    height: 30px;
    margin: 10px 0;
    text-align: center;
    
}
.radios input{
    width: 15px;
    height: 15px;
}
.radios label{
    margin-top:-20px;
}
button{
    padding: 5px 20px;
    margin: 10px 30px;
    font-size: 15px;
    background-color: coral;
    color: white;
    border: 0;
    border-radius: 5px;
}
.card2{
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid coral;
    position: absolute;
    top: 50px;
    left: 30%;
}
.card2 h4{
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}
.congrats-pic{
    padding: 0 70px;
}
.congrats-pic img{
    margin: 0 10px;
}
#cancel{
    position: absolute;
    top: 5px;
    right: 5px;
}
#akan{
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    font-weight: 800;
}